@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600');

* {
    font-family: 'Roboto';
    transition: all 0.25s ease-in-out;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: #ececec !important;
}
